* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none;
}

*::selection {
  background: $text;
  color: $primary;
}

body {
  width: 100vw;
  height: auto;
  font-family: $font-main;
  background-color: $bg-primary;
  color: $text;
  cursor: crosshair;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
