// Colors
$primary: #2c64ff;

$bg-primary: #111111;
$bg-light: #333333;

$text: #ffffff;
$text-sec: #a0a0a0;

$border: #323232;

// FONTS
$font-main: "ITC Garamond", serif;
$font-sec: "Jetbrains Mono", sans-serif;
$font-ter: "DM Sans", sans-serif;
$font-sm-bold: "DM Sans Bold", sans-serif;

// Transition
$anim: cubic-bezier(0.25, 0.46, 0.45, 0.94);

// SPACING
$spacing-scale: (
  xs: 0.25rem,
  sm: 0.5rem,
  md: 1rem,
  lg: 2rem,
  xl: 4rem,
  xxl: 6rem,
  3xl: 8rem,
);
