// @keyframes scrollLeft {
//   to {
//     left: -320px;
//   }
// }

// .marquee-wrapper {
//   width: 360px;
//   height: auto;
//   position: relative;
//   height: 1.4rem;
//   overflow: hidden;
//   mask-image: linear-gradient(
//     to right,
//     rgba(0, 0, 0, 0),
//     rgba(0, 0, 0, 1) 20%,
//     rgba(0, 0, 0, 1) 80%,
//     rgba(0, 0, 0, 0)
//   );

//   .item {
//     width: 500px;
//     height: auto;
//     position: absolute;
//     left: 100%;
//     background-color: red;

//     font-family: $font-ter;
//     text-transform: uppercase;

//     animation-name: scrollLeft;
//     animation-duration: 20s;
//     animation-timing-function: linear;
//     animation-iteration-count: infinite;
//   }

//   .item1 {
//     animation-delay: calc(20s / 3 * (3 - 1) * -1);
//   }

//   .item2 {
//     animation-delay: calc(20s / 3 * (3 - 2) * -1);
//   }

//   .item3 {
//     animation-delay: calc(20s / 3 * (3 - 3) * -1);
//   }
// }

.marquee-wrapper {
  cursor: ew-resize;
  background-color: red;
  white-space: nowrap;

  .item {
    font-family: $font-ter;
    text-transform: uppercase;
    font-size: 1rem;
    color: $text-sec;

    position: relative;
    display: inline-block;
    will-change: transform;
  }
}