.project-wrapper {
  width: 100%;
  height: auto;
  border-top: 1px solid $border;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: getSpacing(sm) getSpacing(lg);
  position: relative;
  text-decoration: none;
  color: $text;
  overflow: hidden;

  @include respond(laptop) {
    padding: getSpacing(lg) getSpacing(md);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: getSpacing(md);
  }

  .project-name {
    width: 100%;
    font-size: clamp(4rem, 6vw, 5rem);
    z-index: 20;

    @include respond(mobile) {
      text-align: center;
    }
  }

  .project-go {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 20;

    @include respond(mobile) {
      flex-direction: column;
      gap: getSpacing(lg);
      // align-items: felx-end;
    }

    .project-go-des {
      font-size: 1rem;
      font-family: $font-sec;
      text-transform: uppercase;
      color: $text-sec;

      @include respond(mobile) {
        font-size: 12px;
      }
    }

    .project-go-arrow {
      width: 2rem;
      height: 2rem;
      border-radius: 8px;
      background-color: white;
      color: black;
      @include flex-center;
      transform: translateY(300%);
      transition: transform 0.3s $anim;

      @include respond(tablet) {
        transform: translateY(0%);
      }
    }
  }

  .project-wrapper-background {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
    display: grid;
    grid-template-rows: 1fr 1fr;

    .pwb1 {
      align-self: flex-end;
    }

    .pwb1,
    .pwb2 {
      width: 100%;
      height: 0%;
      transition: height 0.3s $anim;
      background-color: $primary;
    }
  }

  &:hover {
    .project-go {
      .project-go-arrow {
        transform: translateY(0%);
      }
    }

    .project-wrapper-background {
      .pwb1 {
        width: 100%;
        height: 100%;
      }

      .pwb2 {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.project-name .char {
  display: inline-block;
  overflow: hidden;
}
