.detailed-about-page {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  padding: getSpacing(xl) 0 getSpacing(3xl);

  .detailed-about-text-wrapper {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: getSpacing(md);

    @include respond(desktop) {
      width: 70%;
    }

    @include respond(laptop) {
      width: 90%;
    }

    @include respond(tablet) {
      width: 100%;
      padding: 0 getSpacing(md);
    }

    .about-heading {
      line-height: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      p {
        font-size: clamp(5rem, 10vw, 10rem);
        color: $primary;
        border: 1px solid $border;
        border-radius: 2rem;
        padding: getSpacing(sm) getSpacing(md);
      }
    }

    .about-text {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      gap: getSpacing(md);

      .about-text-para {
        width: 100%;
        height: auto;
        font-family: $font-ter;
        font-size: 1.2rem;
        line-height: 1.5;
      }

      // .char {
      //   display: inline-block;
      //   opacity: 0;
      // }
    }
  }
}

// .inner {
//   width: 100vw;
//   height: auto;

//   .slide {
//     position: fixed;
//     top: 0;
//     left: 0;
//     background-color: $primary;
//     width: 100vw;
//     height: 100vh;
//     z-index: 2000;
//     // border-top: ;

//     .slide2 {
//       position: fixed;
//       top: 0;
//       left: 0;
//       background-color: $bg-primary;
//       width: 100vw;
//       height: 100vh;
//       z-index: 3000;
//     }
//   }
// }
