.menu-logo {
  width: 4rem;
  height: 4rem;
  background-color: $bg-light;
  border-radius: 1rem;
  @include flex-center;
  flex-direction: column;
  font-family: $font-sec;
  text-transform: uppercase;
  font-size: 14px;
  cursor: pointer;

  .menu-logo-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    .menu-logo-open {
      transform: translateY(0%);
      transition: transform 0.3s $anim;
      position: absolute;
      line-height: 1;

      .underline {
        width: 0%;
        height: 1px;
        background: #fff;
        transition: width 0.3s $anim;
      }
    }

    .menu-logo-close {
      // position: absolute;
      transform: translateY(100%);
      transition: transform 0.3s $anim;
    }
  }

  &:hover {
    .menu-logo-wrapper {
      .menu-logo-open {
        .underline {
          width: 100%;

          
        }
      }
    }
  }
}

.menu-logo.menu-is-open {
  .menu-logo-wrapper {
    .menu-logo-open {
      transform: translateY(-100%);
    }

    .menu-logo-close {
      transform: translateY(0%);
    }
  }
}
