.about-section {
  width: 100vw;
  height: 100vh;
  @include flex-center;
  border-bottom: 1px solid $border;

  .about-text {
    width: 80%;
    height: auto;
    font-size: clamp(2rem, 4vw, 3rem);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    letter-spacing: 3%;
  }
}

@media (max-width: $tablet) {
  .about-section {
    .about-text {
      width: 90%;
      line-height: 1.4;
      justify-content: flex-start;
    }
  }
}
